.footer {
    width: 100%;
    background: #333;
    color: white;
    font-size: 0.9rem;
    padding: .3rem 0 .3rem 0;
}

.footer-shadow {
    -webkit-box-shadow: 2px 2px 31px 0px rgba(0,0,0,0.96);
    -moz-box-shadow: 2px 2px 31px 0px rgba(0,0,0,0.96);
    box-shadow: 2px 2px 31px 0px rgba(0,0,0,0.96);
}