<div class="container">
	<div class="row top-row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="card">
				<div class="card-body align-center">
					<h4 class="form-title">Ingresar</h4>
					<hr>
					<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
						<input type="text" formControlName="email" class="form-control separate-top-input align-center" placeholder="Email" autofocus>
						<input type="password" formControlName="password" class="form-control separate-top-input align-center" placeholder="Contraseña">
						<button [disabled]="!loginForm.valid" type="submit" class="btn btn-success full-width separate-top-input">Entrar</button>
					</form>
					<hr>
					<button routerLink="/app/register" class="btn btn-primary full-width">Registrarse</button>
				</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
	<div class="row middle-row">
		<div class="col-3"></div>
		<div class="col-6">
			<select class="form-control" [(ngModel)]="userOption" (change)="LoadUser()">
				<option value="none"> - Usuarios de prueba - </option>
				<option value="juan">Juan - Cliente</option>
				<option value="mario">Mario - Cliente</option>
				<option value="jose">José - Mozo</option>
				<option value="camilo">Camilo - Mozo</option>
				<option value="pablo">Pablo - Cocinero</option>
				<option value="martin">Martin - Bartender</option>
				<option value="roman">Román - Cervecero</option>
				<option value="ivan">Iván - Socio</option>
			</select>
		</div>
		<div class="col-3"></div>
	</div>
</div>