<div class="container">
	<div class="row top-row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="card">
				<div class="card-body align-center">
					<h4 class="form-title">Ingresar</h4>
					<hr>
					<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
						<input type="text" formControlName="email" class="form-control separate-top-input align-center" placeholder="Email" autofocus>
						<input type="password" formControlName="password" class="form-control separate-top-input align-center" placeholder="Contraseña">
						<div class="row mar-top-2">
							<div class="col-2"></div>
							<div class="col-8 align-center">
								<ngx-recaptcha2  formControlName="captcha" #captchaElem [siteKey]="'6Le9VcYUAAAAAK4z-Fj0YlhKfrNIc9eqvsNuMSsy'" [useGlobalDomain]="false"></ngx-recaptcha2>
							</div>
							<div class="col-2"></div>
						</div>
						<button *ngIf="!loading" [disabled]="!loginForm.valid" type="submit" class="btn btn-success full-width separate-top-input">Entrar</button>
						<div class="mar-top-1">
							<app-spinner *ngIf="loading"></app-spinner>
						</div>
					</form>
					<hr>
					<button routerLink="/app/register" class="btn btn-primary full-width">Registrarse</button>
				</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
	<div class="row middle-row" [isProd]>
		<div class="col-3"></div>
		<div class="col-6">
			<select class="form-control" [(ngModel)]="userOption" (change)="LoadUser()">
				<option value="none"> - Usuarios de prueba - </option>
				<option value="juan">Juan - Cliente</option>
				<option value="mario">Mario - Cliente</option>
				<option value="chelo">Chelo - Cliente</option>
				<option value="jose">José - Mozo</option>
				<option value="camilo">Camilo - Mozo</option>
				<option value="pablo">Pablo - Cocinero</option>
				<option value="martin">Martin - Bartender</option>
				<option value="roman">Román - Cervecero</option>
				<option value="ivan">Iván - Socio</option>
			</select>
		</div>
		<div class="col-3"></div>
	</div>
</div>

<app-footer></app-footer>