<nav class="bottom-shadow">
    <div class="row main-bar cocinero-color">
        <div class="col-6">
            <h1 class="main-title">La Comanda</h1>
        </div>
        <div class="col-6 profile">
            <img src="assets/img/default-profile.png" class="profile-pic" [ngClass]="open ? 'active': ''" (click)="toggleSidebar()">
        </div>
    </div>
</nav>

<div class="sidebar" [ngClass]="open ? '' : 'collapsed'">
    <div class="top-row">
        <app-sidebar-option name="Perfil" link="/socio"></app-sidebar-option>
        <app-sidebar-option name="Configuracion" link="/app/register"></app-sidebar-option>
        <app-sidebar-option logOut=true></app-sidebar-option>
    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>